$black-color: #000000;
$blue-background-color: #002C61;
$white-background-color: #F2F2F2;
$full-white-color: #FFFFFF;
$red-border-color: #D92929;
$transparent-background-color: transparent; 


/*font-sizes bootstrap */ 
$fuente-card-productos: 14px;

/*bannerProductos*/
$background-image-panificados: "../images/productos_accordion/button_header/panificadosdos.png";
$background-image-dulce: "../images/productos_accordion/button_header/dulceuno.png";
$background-image-frio: "../images/productos_accordion/button_header/friouno.png";
$background-image-snacks: "../images/productos_accordion/button_header/snacksuno.png";


